*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 222vh;
}

#header{
    height: 900px;
    width: 100%;
    overflow:hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/travel-vector-background-design-lets-go-travel-text-with-3d-world-globe-and-tourist-destination-landmark-for-worldwide-tour-travelling-2JBKJY6.jpg);
    background-size: cover;
}

.navContainer{
    width: 1795px;
    height: 10vh;
    background-color:transparent;
    position: sticky;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    display:block;
    transition: top 0.3s;
    position: relative;
}

.homeNav{
    margin-left: 19rem;
  }
  
  .buttonNav{
    margin-top: 2rem;
    border-radius: 10px;
    background-color: black;
  
  }
  
  .loginNav{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    border-radius: 20px;
    color: white;
    padding-top: 3rem;
  }
  

section nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    text-decoration: none;
    padding-right: 5rem;
    list-style: none;
}

section nav ul li{
    display: flex;
    justify-items: auto;
    position: relative;
    margin-right: 50px;
    text-decoration: none;
    position: relative;
}

section nav ul li a{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    color: white;
    text-align: center;
    /*padding: 15px;*/
    text-decoration: none;
    font-size: 25px;
    padding-top: 2rem;
    transition: all 0.3s;
}

section nav ul li a:hover{
    color: orange;
}

.navContainer ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }
   
  .navContainer ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 250px;
    padding: 10px;
    background-color: gray;
  }
.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }

  .dropdown-menu {
    display: none;
  }



#design{
    margin-top: 7rem;
}

.designContainer{
    background:linear-gradient(45deg,#FFAE42,#FF9F00,#FFA500);
    width: 90%;
    height: 1000px;
    margin-left: 5%;
}

#designHead{
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    font-weight: 900;
    padding-top: 3rem;
    margin-left: 30%;
}

.designContainer p{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 7%;
    padding-top: 0.6rem;
    padding-bottom: 1.4rem;
}

.input{
    margin-left: 5%;
}


.firstRowFirstLabel{
    margin-right: 17rem;
    font-size: 1.4rem;
    font-weight: 700;
}
.firstRowSecondLabel{
    margin-right: 15rem;
    font-size: 1.4rem;
    font-weight: 700;
}
.firstRowThirdLabel{
    margin-right: 18rem;
    font-size: 1.4rem;
    font-weight: 700;
}
.firstRowFourthLabel{
    margin-right: 0rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.secondRowInputContainer{
    margin-top: 1.2rem;
    
}

.secondRowFirstInput{
    font-size: 1.6rem;
    width: 15rem;
    height: 2.6rem;
    margin-right: 9.7rem;
}

.secondRowSecondInput{
    font-size: 1.6rem;
    width: 15rem;
    height: 2.6rem;
    margin-right: 9.4rem;
}

.secondRowThirdInput{
    font-size: 1.6rem;
    width: 15rem;
    height: 2.6rem;
    margin-right: 6.2rem;
}

.secondRowFourthInput{
    font-size: 1.6rem;
    width: 16rem;
    height: 2.6rem;
    margin-right: 5rem;
}

.thirdRowLabelContainer{
    margin-top: 1.7rem;
}

.thirdRowFirstLabel{
    margin-right: 18rem;
    font-size: 1.4rem;
    font-weight: 700;
    padding-top: 15rem;
}

.thirdRowSecondLabel{
    margin-right: 17rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.thirdRowthirdLabel{
    margin-right: 14rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.thirdRowFourthLabel{
    margin-right: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.fourthRowInputContainer{
    margin-top: 1.7rem;
}

.fourthRowFirstInput{
    font-size: 1.6rem;
    width: 15rem;
    height: 2.6rem;
    margin-right: 9.7rem;
}

.fourthRowSecondInput{
    font-size: 1.6rem;
    width: 15rem;
    height: 2.6rem;
    margin-right: 9.4rem;
}

.fourthRowThirdInput{
    font-size: 1.6rem;
    width: 15rem;
    height: 2.6rem;
    margin-right: 6.2rem;
}

.fourthRowFourthInput{
    font-size: 1.6rem;
    width: 16rem;
    height: 2.6rem;
    margin-right: 5rem;
}

.fifthRowLabelContainer{
    margin-top: 1.7rem;
}
/*
.fifthRowFirstLabel{
    font-size: 1.6rem;
    width: 15rem;
    height: 2.6rem;
    font-weight: 700;
}

.sixthRowFirstInput{
    font-size: 1.6rem;
    width: 60rem;
    height: 3rem;
    margin-right: 5rem;
}*/

.seventhRowLabelContainer{
    margin-top: 1.7rem;
}

.seventhRowFirstLabel{
    margin-right: 21rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.seventhRowSecondLabel{
    margin-right: 15rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.seventhRowThirdLabel{
    margin-right: 9.7rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.seventhRowFourthLabel{
    margin-right: 0rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.ninethRowInputContainer{
    margin-top: 1.7rem;
}

.ninethRowFirstInput{
    font-size: 1.6rem;
    width: 15rem;
    height: 2.6rem;
    margin-right: 9.7rem;
}

.ninethRowSecondInput{
    font-size: 1.6rem;
    width: 15rem;
    height: 2.6rem;
    margin-right: 10rem;
}

.ninethRowThirdInput{
    font-size: 1.6rem;
    width: 16rem;
    height: 2.6rem;
    margin-right: 5rem;
}

.ninethRowFourthInput{
    font-size: 1.6rem;
    width: 16rem;
    height: 2.6rem;
    margin-right: 5rem;
}

.tenthRowLabelContainer{
    margin-top: 1.7rem;
}

.tenthRowFirstLabel{
    margin-right: 21rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.eleventhRowFirstInput{
    font-size: 1.6rem;
    width: 60rem;
    height: 7rem;
    margin-right: 9.7rem;
}

.button{
    margin-top: 5rem;
    margin-left: 25rem;
}

.button input{
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
}

.button button{
    font-size: 2rem;
    border-radius: 5px;
    margin-left: 1rem;
}

.button button a{
    text-decoration: none;
    color: black;
}

#terms{
  width: 100%;
  height: 50vh;
  margin-top: 6rem;
}

#terms h2{
  text-align: center;
  font-size: 2.5rem;
}

.policyContainer{
  display: flex;
  margin-top: 4rem;
  margin-left: 28rem;
}

.term img{
  border-radius: 50%;
  margin-right: 4rem;
}

.sustainability img{
  border-radius: 50%;
  margin-right: 4rem;
}

.sustainability:hover{
  border-radius: -150%;
}

.responsability img{
  border-radius: 50%;
  margin-right: 4rem;
}

.covid img{
  border-radius: 50%;
}
