*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 535vh;
}

#header{
    height: 900px;
    width: 100%;
    overflow:hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/discover.jpg);
    background-size: cover;
   /* animation: change 100s infinite ease-in-out;*/
}

.navContainer{
    width: 1795px;
    height: 10vh;
    background-color:transparent;
    position: sticky;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    display:block;
    transition: top 0.3s;
    position: relative;
}

.homeNav{
    margin-left: 19rem;
  }
  
  .buttonNav{
    margin-top: 2rem;
    border-radius: 10px;
    background-color: black;
  
  }
  
  .loginNav{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    border-radius: 20px;
    color: white;
    padding-top: 3rem;
  }
  

section nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    text-decoration: none;
    padding-right: 5rem;
    list-style: none;
}

section nav ul li{
    display: flex;
    justify-items: auto;
    position: relative;
    margin-right: 50px;
    text-decoration: none;
    position: relative;
}

section nav ul li a{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    color: white;
    text-align: center;
    /*padding: 15px;*/
    text-decoration: none;
    font-size: 25px;
    padding-top: 2rem;
    transition: all 0.3s;
}

section nav ul li a:hover{
    color: orange;
}

.navContainer ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }
   
  .navContainer ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 250px;
    padding: 10px;
    background-color: gray;
  }
.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }

  .dropdown-menu {
    display: none;
  }


.discoverContainer{
    margin-top: 3rem;
    height: 780px;
}

.discoverContainer h1{
    margin-left: 16rem;
    font-size: 2rem;
}

h1 span{
    color: red;
    font-size: 2.9rem;
}

#discover h1{
    font-size: 3rem;
}

.historyOfEthiopia{
    width: 75%;
    height: 780px;
    background:rgb(241,241,241);
    margin-left: 9rem;
    border-radius: 10px;
    box-shadow: 15px 19px 19px rgb(0, 0, 0);
    margin-top: 2.5rem;
}

.historyOfEthiopiaImage img{
    float: right;
    margin-left: 5rem;
    margin-right: 3rem;
    margin-top: 3.9rem;
   
}

.historyOfEthiopiaText h2{
    font-size: 2rem;
    color: black;
    margin-left: 17%;
    padding-top: 1.7rem;
}

.historyOfEthiopiaText p{
    margin-left: 4rem;
    font-size: 1.8rem;
    margin-top: 0.5rem;
}

.landOfOrigin{
    width: 75%;
    height: 780px;
    background:rgb(241,241,241);
    margin-left: 9rem;
    border-radius: 10px;
    box-shadow: 15px 19px 19px rgb(0, 0, 0);
    margin-top: 4rem;
}

#landHead{
    padding-top: 3rem;
}

.landOfOrigin img{
    float: right;
    padding-right: 2rem;
    padding-top: 5rem;
    margin-left: 2rem;
    margin-right: 1.5rem;
}

.landOfOriginText p{
    padding-left: 4rem;
    font-size: 2rem;
}

.ownAlphabet{
    width: 75%;
    height: 700px;
    background:rgb(241,241,241);
    margin-top: 4rem;
    border-radius: 10px;
    box-shadow: 15px 19px 19px black;
    margin-left: 9rem;
}

.ownAlphabet img{
    float: right;
    margin-top: 3rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

.ownAlphabetText h2{
    font-size: 2.4rem;
    padding-top: 3rem;
    margin-left: 16%;
}

.ownAlphabetText p{
    margin-left: 4%;
    margin-top: 1.4rem;
    font-size: 2rem;
}

.coffee{
    width: 75%;
    height: 700px;
    background:rgb(241,241,241);
    margin-top: 4rem;
    margin-left: 9rem;
    border-radius: 10px;
    box-shadow: 15px 19px 19px black;
}

.coffee img{
    float: right;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.coffeText h2{
    font-size: 2.3rem;
    margin-left: 16%;
    padding-top: 4rem;
}

.coffeText p{
    font-size: 2rem;
    margin-left: 3rem;    
}

#terms{
  width: 100%;
  height: 50vh;
  margin-top: 160rem;
}

#terms h2{
  text-align: center;
  font-size: 2.5rem;
}

.policyContainer{
  display: flex;
  margin-top: 4rem;
  margin-left: 28rem;
}

.term img{
  border-radius: 50%;
  margin-right: 4rem;
}

.sustainability img{
  border-radius: 50%;
  margin-right: 4rem;
}

.responsability img{
  border-radius: 50%;
  margin-right: 4rem;
}

.covid img{
  border-radius: 50%;
}
